# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
# in this project we need to add the Workspace
#.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside

# Libraries management should be done with CocoaPods
# http://cocoapods.org/
Pods/
